<template name="login">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
        <div class="cover-container">
                <div class="mastehead clearfix">
                  <div class="inner">
                    <h1 class="center-align teal-text text-darken-3">Image Uploader</h1>
                  </div>
                    {{> atForm}}
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="text-center">Problems logging in? Contact Professor Charles Crook at the LSRI, University of Nottingham.
                </div>
            </div>
        </div>

  </div>
</div>
</template>
