<template name='upload'>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Image Uploader</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Uploader</a></li>
                                <li><a href="#">What is This</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="inner cover">
                    <h1 class="cover-heading">Drag Your Images Here to Upload</h1>
                    <p class="lead">OR</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Select Files from Your Device</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Technical Problems? Contact <a href="mailto:skywriter@gmail.com">Thomas Sweeney</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>